<a href="https://colab.research.google.com/github/QorbQuant/Crypto-tax-data/blob/main/HarmonyTransform.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
import pandas as pd
import numpy as np

In [118]:
# inputs

file = '/content/export_transaction_0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083 (3).csv'
wallet = "0x4bf44Bc1da6dbf4277C3ac3F69C0809BF9B3a083".lower()

stably_wallets = ['0x4bf44Bc1da6dbf4277C3ac3F69C0809BF9B3a083', '0xb27Dc47531a4E8472116A8672CC29041EDEf27aE', '0x64eBF628a6cE6D9719e54F1db9377E5E231044b3', \
                  '0x664FE9758008B398Dd5366BeCf07cF344ae5CC52', '0x4eE18C6942B4f90AFa0d8A5C5dAADD1Fa706a61A', '0x512B9120A1a67ab71F0E3f5F3D0b3A824A204ddd', \
                  '0x764ED0Ec8708D80c48EAc0bD8cB2B80eA2c43c8C']

stably_wallets = list(map(str.lower, stably_wallets))
stably_wallets = [item for item in stably_wallets if item != wallet]

In [119]:
print(stably_wallets)

['0xb27dc47531a4e8472116a8672cc29041edef27ae', '0x64ebf628a6ce6d9719e54f1db9377e5e231044b3', '0x664fe9758008b398dd5366becf07cf344ae5cc52', '0x4ee18c6942b4f90afa0d8a5c5daadd1fa706a61a', '0x512b9120a1a67ab71f0e3f5f3d0b3a824a204ddd', '0x764ed0ec8708d80c48eac0bd8cb2b80ea2c43c8c']

In [120]:
df = pd.read_csv(file)

In [121]:
df

,Txhash,Blockno,UnixTimestamp,DateTime,From,To,Value_IN(ONE),Value_OUT(ONE),CurrentValue @ $0.01626218/ONE,TxnFee(ONE),TxnFee(USD),Method
0,0xf6f7d929e700cdcf1221ddba9383db65b81107037ccb...,35913917,1672364649,2022-12-29 17:12:09,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.164111,0.002669,0x6a761202
1,0xb8059895a05f9502a49fdaa1e2351c4d174400a99543...,35913885,1672364586,2022-12-29 17:12:06,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.121169,0.001970,0x6a761202
2,0xeceb5fa6e99a109f2987e322f373089d58af359e10b9...,35913754,1672364323,2022-12-29 17:12:43,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.121169,0.001970,0x6a761202
3,0x402f484a6634b234197d6e15d6e02865150125b4cf20...,34305715,1669144786,2022-11-22 11:11:46,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,1.836885e+06,0,29871.748714,0.063000,0.001025,0x
4,0x395a4b0f67e1434a15f93d07214d9844968267e8a42f...,33966711,1668463503,2022-11-14 14:11:03,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.070587,0.001148,0x6a761202
5,0xa96dcc0b3a98ece2acc4c30ec4260d166dc5eda725d0...,33702094,1667932183,2022-11-08 10:11:43,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.010868,0.000177,0x6a761202
6,0x6fb9ee865c19cd74fdf41a9ebd590dafb1f2d9db8859...,33540532,1667608477,2022-11-04 17:11:37,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,1.154201e+06,0,18769.829178,0.063000,0.001025,0x
7,0x78265c208602c74e4b34b6bbef7656034abd30312e9f...,33490417,1667508124,2022-11-03 13:11:04,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,1.226693e+06,0,19948.699706,0.063000,0.001025,0x
8,0x832eb2583de0113ec5790ee5eed24e87496bf442b777...,30594067,1661633453,2022-08-27 13:08:53,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.200000,0.003252,0x6a761202
9,0x43340009871f27d0ac35029f3f7d298241e728bbbc84...,30593895,1661633089,2022-08-27 13:08:49,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.200000,0.003252,0x6a761202
10,0xb410f2c55a0c7311226467e578ba602ce3b00762e59a...,30593680,1661632654,2022-08-27 13:08:34,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.060831,0.000989,0x6a761202
11,0xc7f4a02c7e3137be20debf4138b9d05d10adf5700a11...,30590287,1661625761,2022-08-27 11:08:41,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.060831,0.000989,0x6a761202
12,0x7c7d665ff5165666f016d90e06eae46b45af827e1288...,30590203,1661625576,2022-08-27 11:08:36,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.060831,0.000989,0x6a761202
13,0x1d95f6357e8cd7db90f8a2476aa6b96ed0da5f0ce8ba...,30590171,1661625511,2022-08-27 11:08:31,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.060831,0.000989,0x6a761202
14,0xc045ee0959f1b4dcdb1bd3c29218a0a3a1f23b41b0f9...,30590023,1661625209,2022-08-27 11:08:29,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.070623,0.001148,0x6a761202
15,0x9467ebf3d53c6a90267804f10e069b138bcc76d9165c...,30589949,1661625059,2022-08-27 11:08:59,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.070587,0.001148,0x6a761202
16,0xde81db0dfbe4106aad91a9a0898b0913ded84b9e18c8...,30563504,1661569679,2022-08-26 20:08:59,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,1.245640e+06,0,20256.821895,0.063000,0.001025,0x
17,0xe02dba7cdec629d6079596b2e26459f41eeebcfa3a57...,29307718,1658939149,2022-07-27 09:07:49,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.108681,0.001767,0x6a761202
18,0x0a89dada31c657e9e6a23fccfbc8d1b173fd06b4363d...,29281421,1658880515,2022-07-26 17:07:35,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,1.230315e+06,0,20007.603987,0.063000,0.001025,0x
19,0x3bdb3a2a473ec3edc777e17f76758824155cfb346fcc...,28482974,1657152847,2022-07-06 17:07:07,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.131556,0.002139,0x6a761202
20,0x3e21b35e45a353a8a216bcb9cdef07795c30a1e7e271...,27705039,1655061030,2022-06-12 12:06:30,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,8.104320e+05,0,13179.391062,0.037800,0.000615,0x
21,0x1b30cf60082ff71f331f1535096bc8750e16c1b1dc84...,26974578,1653504194,2022-05-25 11:05:14,0xcd1155b074f68e78ec998367b4d7b9b452c5e912,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,2.152844e+02,0,3.500994,0.200000,0.003252,0x
22,0x27f7a9271e5f8726425d1f6d77d35d61f5bf374778e5...,26974219,1653503432,2022-05-25 11:05:32,0xb4f60e5dbd566e8ed79bcdc2b862287650043343,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,5.000000e-02,0,0.000813,0.001055,0.000017,0x

In [122]:
df.columns

Index(['Txhash', ' Blockno', ' UnixTimestamp', ' DateTime', ' From', ' To',
       ' Value_IN(ONE)', ' Value_OUT(ONE)', ' CurrentValue @ $0.01626218/ONE',
       ' TxnFee(ONE)', ' TxnFee(USD)', ' Method'],
      dtype='object')

In [123]:
df.dtypes

Txhash                              object
 Blockno                             int64
 UnixTimestamp                       int64
 DateTime                           object
 From                               object
 To                                 object
 Value_IN(ONE)                     float64
 Value_OUT(ONE)                      int64
 CurrentValue @ $0.01626218/ONE    float64
 TxnFee(ONE)                       float64
 TxnFee(USD)                       float64
 Method                             object
dtype: object

In [124]:
df[' To'] = df[' To'].str.strip().str.lower()
df[' From'] = df[' From'].str.strip().str.lower()

In [125]:
df.dtypes

Txhash                              object
 Blockno                             int64
 UnixTimestamp                       int64
 DateTime                           object
 From                               object
 To                                 object
 Value_IN(ONE)                     float64
 Value_OUT(ONE)                      int64
 CurrentValue @ $0.01626218/ONE    float64
 TxnFee(ONE)                       float64
 TxnFee(USD)                       float64
 Method                             object
dtype: object

In [126]:


df['transactionType'] = np.where(df[' To'] == wallet, 'deposit', 'withdrawal')

In [127]:
df['amount'] = df.apply(lambda row: row[' Value_OUT(ONE)'] if row['transactionType'] == 'withdrawal' else row[' Value_IN(ONE)'], axis=1)

In [128]:
df['fee'] = np.where(df['transactionType'] == 'withdrawal', df[' TxnFee(ONE)'], 0)

In [129]:
df['time'] = df[' DateTime']
df['blockchainId'] = df['Txhash']

In [130]:


condition_1 = (df['transactionType'] == 'withdrawal') & (df[' To'].isin(stably_wallets))
condition_2 = (df['transactionType'] == 'deposit') & (df[' From'].isin(stably_wallets))

# Create the 'taxExempt' column based on the conditions
df['taxExempt'] = 'FALSE'
df.loc[condition_1 | condition_2, 'taxExempt'] = 'TRUE'

In [131]:
df

,Txhash,Blockno,UnixTimestamp,DateTime,From,To,Value_IN(ONE),Value_OUT(ONE),CurrentValue @ $0.01626218/ONE,TxnFee(ONE),TxnFee(USD),Method,transactionType,amount,fee,time,blockchainId,taxExempt
0,0xf6f7d929e700cdcf1221ddba9383db65b81107037ccb...,35913917,1672364649,2022-12-29 17:12:09,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.164111,0.002669,0x6a761202,deposit,0.000000e+00,0.0,2022-12-29 17:12:09,0xf6f7d929e700cdcf1221ddba9383db65b81107037ccb...,TRUE
1,0xb8059895a05f9502a49fdaa1e2351c4d174400a99543...,35913885,1672364586,2022-12-29 17:12:06,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.121169,0.001970,0x6a761202,deposit,0.000000e+00,0.0,2022-12-29 17:12:06,0xb8059895a05f9502a49fdaa1e2351c4d174400a99543...,TRUE
2,0xeceb5fa6e99a109f2987e322f373089d58af359e10b9...,35913754,1672364323,2022-12-29 17:12:43,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.121169,0.001970,0x6a761202,deposit,0.000000e+00,0.0,2022-12-29 17:12:43,0xeceb5fa6e99a109f2987e322f373089d58af359e10b9...,TRUE
3,0x402f484a6634b234197d6e15d6e02865150125b4cf20...,34305715,1669144786,2022-11-22 11:11:46,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,1.836885e+06,0,29871.748714,0.063000,0.001025,0x,deposit,1.836885e+06,0.0,2022-11-22 11:11:46,0x402f484a6634b234197d6e15d6e02865150125b4cf20...,FALSE
4,0x395a4b0f67e1434a15f93d07214d9844968267e8a42f...,33966711,1668463503,2022-11-14 14:11:03,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.070587,0.001148,0x6a761202,deposit,0.000000e+00,0.0,2022-11-14 14:11:03,0x395a4b0f67e1434a15f93d07214d9844968267e8a42f...,TRUE
5,0xa96dcc0b3a98ece2acc4c30ec4260d166dc5eda725d0...,33702094,1667932183,2022-11-08 10:11:43,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.010868,0.000177,0x6a761202,deposit,0.000000e+00,0.0,2022-11-08 10:11:43,0xa96dcc0b3a98ece2acc4c30ec4260d166dc5eda725d0...,TRUE
6,0x6fb9ee865c19cd74fdf41a9ebd590dafb1f2d9db8859...,33540532,1667608477,2022-11-04 17:11:37,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,1.154201e+06,0,18769.829178,0.063000,0.001025,0x,deposit,1.154201e+06,0.0,2022-11-04 17:11:37,0x6fb9ee865c19cd74fdf41a9ebd590dafb1f2d9db8859...,FALSE
7,0x78265c208602c74e4b34b6bbef7656034abd30312e9f...,33490417,1667508124,2022-11-03 13:11:04,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,1.226693e+06,0,19948.699706,0.063000,0.001025,0x,deposit,1.226693e+06,0.0,2022-11-03 13:11:04,0x78265c208602c74e4b34b6bbef7656034abd30312e9f...,FALSE
8,0x832eb2583de0113ec5790ee5eed24e87496bf442b777...,30594067,1661633453,2022-08-27 13:08:53,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.200000,0.003252,0x6a761202,deposit,0.000000e+00,0.0,2022-08-27 13:08:53,0x832eb2583de0113ec5790ee5eed24e87496bf442b777...,TRUE
9,0x43340009871f27d0ac35029f3f7d298241e728bbbc84...,30593895,1661633089,2022-08-27 13:08:49,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.200000,0.003252,0x6a761202,deposit,0.000000e+00,0.0,2022-08-27 13:08:49,0x43340009871f27d0ac35029f3f7d298241e728bbbc84...,TRUE
10,0xb410f2c55a0c7311226467e578ba602ce3b00762e59a...,30593680,1661632654,2022-08-27 13:08:34,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.060831,0.000989,0x6a761202,deposit,0.000000e+00,0.0,2022-08-27 13:08:34,0xb410f2c55a0c7311226467e578ba602ce3b00762e59a...,TRUE
11,0xc7f4a02c7e3137be20debf4138b9d05d10adf5700a11...,30590287,1661625761,2022-08-27 11:08:41,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.060831,0.000989,0x6a761202,deposit,0.000000e+00,0.0,2022-08-27 11:08:41,0xc7f4a02c7e3137be20debf4138b9d05d10adf5700a11...,TRUE
12,0x7c7d665ff5165666f016d90e06eae46b45af827e1288...,30590203,1661625576,2022-08-27 11:08:36,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.060831,0.000989,0x6a761202,deposit,0.000000e+00,0.0,2022-08-27 11:08:36,0x7c7d665ff5165666f016d90e06eae46b45af827e1288...,TRUE
13,0x1d95f6357e8cd7db90f8a2476aa6b96ed0da5f0ce8ba...,30590171,1661625511,2022-08-27 11:08:31,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.060831,0.000989,0x6a761202,deposit,0.000000e+00,0.0,2022-08-27 11:08:31,0x1d95f6357e8cd7db90f8a2476aa6b96ed0da5f0ce8ba...,TRUE
14,0xc045ee0959f1b4dcdb1bd3c29218a0a3a1f23b41b0f9...,30590023,1661625209,2022-08-27 11:08:29,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.070623,0.001148,0x6a761202,deposit,0.000000e+00,0.0,2022-08-27 11:08:29,0xc045ee0959f1b4dcdb1bd3c29218a0a3a1f23b41b0f9...,TRUE
15,0x9467ebf3d53c6a90267804f10e069b138bcc76d9165c...,30589949,1661625059,2022-08-27 11:08:59,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.070587,0.001148,0x6a761202,deposit,0.000000e+00,0.0,2022-08-27 11:08:59,0x9467ebf3d53c6a90267804f10e069b138bcc76d9165c...,TRUE
16,0xde81db0dfbe4106aad91a9a0898b0913ded84b9e18c8...,30563504,1661569679,2022-08-26 20:08:59,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,1.245640e+06,0,20256.821895,0.063000,0.001025,0x,deposit,1.245640e+06,0.0,2022-08-26 20:08:59,0xde81db0dfbe4106aad91a9a0898b0913ded84b9e18c8...,FALSE
17,0xe02dba7cdec629d6079596b2e26459f41eeebcfa3a57...,29307718,1658939149,2022-07-27 09:07:49,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.108681,0.001767,0x6a761202,deposit,0.000000e+00,0.0,2022-07-27 09:07:49,0xe02dba7cdec629d6079596b2e26459f41eeebcfa3a57...,TRUE
18,0x0a89dada31c657e9e6a23fccfbc8d1b173fd06b4363d...,29281421,1658880515,2022-07-26 17:07:35,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,1.230315e+06,0,20007.603987,0.063000,0.001025,0x,deposit,1.230315e+06,0.0,2022-07-26 17:07:35,0x0a89dada31c657e9e6a23fccfbc8d1b173fd06b4363d...,FALSE
19,0x3bdb3a2a473ec3edc777e17f76758824155cfb346fcc...,28482974,1657152847,2022-07-06 17:07:07,0xb27dc47531a4e8472116a8672cc29041edef27ae,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,0.000000e+00,0,0.000000,0.131556,0.002139,0x6a761202,deposit,0.000000e+00,0.0,2022-07-06 17:07:07,0x3bdb3a2a473ec3edc777e17f76758824155cfb346fcc...,TRUE
20,0x3e21b35e45a353a8a216bcb9cdef07795c30a1e7e271...,27705039,1655061030,2022-06-12 12:06:30,0xed1229b9931c5396975ed22aae78117e06bdeed6,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,8.104320e+05,0,13179.391062,0.037800,0.000615,0x,deposit,8.104320e+05,0.0,2022-06-12 12:06:30,0x3e21b35e45a353a8a216bcb9cdef07795c30a1e7e271...,FALSE
21,0x1b30cf60082ff71f331f1535096bc8750e16c1b1dc84...,26974578,1653504194,2022-05-25 11:05:14,0xcd1155b074f68e78ec998367b4d7b9b452c5e912,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,2.152844e+02,0,3.500994,0.200000,0.003252,0x,deposit,2.152844e+02,0.0,2022-05-25 11:05:14,0x1b30cf60082ff71f331f1535096bc8750e16c1b1dc84...,FALSE
22,0x27f7a9271e5f8726425d1f6d77d35d61f5bf374778e5...,26974219,1653503432,2022-05-25 11:05:32,0xb4f60e5dbd566e8ed79bcdc2b862287650043343,0x4bf44bc1da6dbf4277c3ac3f69c0809bf9b3a083,5.000000e-02,0,0.000813,0.001055,0.000017,0x,deposit,5.000000e-02,0.0,2022-05-25 11:05:32,0x27f7a9271e5f8726425d1f6d77d35d61f5bf374778e5...,FALSE